{% extends "lizard_map/wms.html" %}
{% load workspaces %}
{% load utility %}

{% block subtitle %} Meetgegevens {% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched"
     id="accordion">
  <h2>1: Filters{% if filter %} ({{ filter.name }}){% endif %}{% block linkback %}{% endblock %}</h2>
  <ul class="automatic-tree filetree pane accordion-load-next"
      data-next-pane-id="#parameter-pane"
      id="filter-pane">
    {# variables tree_template and tree_items must be set #}
    {% with "lizard_ui/tree_snippet.html" as tree_template %}
      {% include tree_template %}
    {% endwith %}
  </ul>
  <h2>2: Parameters</h2>
  <ul class="without-bullets pane"
      id="parameter-pane">
    {% for workspace_acceptable in workspace_acceptables %}
    <li class="workspace-acceptable file{% selected_if_in_workspace workspace_acceptable.adapter_class workspace_acceptable.adapter_layer_json workspace_edit %}"
        data-name="{{ workspace_acceptable.name }}"
        data-adapter-class="{{ workspace_acceptable.adapter_class }}"
        data-adapter-layer-json='{{ workspace_acceptable.adapter_layer_json }}'
        data-filter-id="{{ workspace_acceptable.filter_id }}">
      {{ workspace_acceptable.shortname }}
    </li>
    {% empty %}
    <li>Geen parameters gevonden/geladen.</li>
    {% endfor %}
  </ul>
</div>

{% workspace_edit workspace_edit %}

{% endblock sidebar %}
